

// Black BG
// --------------------------------------------------


body.black{
    background:@blackBG;

    ::-moz-selection {
        color:#fff;
    }

    ::selection {
        color:#fff;
    }

    /* Scrollbar Customisation */
    ::-webkit-scrollbar {
        width: 8px;
        height:8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        border-radius:5px;
        background: transparent;
    }

    /* Scrollbar Handle */
    ::-webkit-scrollbar-thumb {
        border-radius:5px;
        background: darken(@blackBG,3%);
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: lighten(@blackBG,10%);
    }


    #dropdown{
        a{
            color:#aaa;
            background: @brandOne;
            border-right: 1px solid darken(@brandOne, 10%);
            border-left: 1px solid lighten(@brandOne, 10%);

        }
        a:hover{
            background: lighten(@brandOne, 10%);
        }
    }

    header{
        border-bottom: 1px solid darken(@blackBG, 3%);
        #logo{
            background: darken(@blackBG, 3%);
        }
    }
    #heading{
        color:@blackTxt;
    }
    nav{
        i{
            color:@blackTxt;
        }
    }
    #content{
        color:lighten(@blackTxt, 0.5%);
    }
    a{
        color:lighten(@blackTxt, 30%);
        border-bottom: 1px solid lighten(@blackTxt, 30%);
    }
}





