
// White BG
// --------------------------------------------------

body.white{

    ::-moz-selection {
        background: #b3d4fc;
        text-shadow: none;
    }

    ::selection {
        background: #b3d4fc;
        text-shadow: none;
    }


    background:#eee;
        #dropdown{
            a{
                color:#aaa;
                background: lighten(#57388D, 10%);
                border-right: 1px solid darken(#57388D, 10%);
                border-left: 1px solid lighten(#57388D, 10%);

            }
            a:hover{
                color:#ccc;
                background: #57388D;
            }
        }

    header{
        border-bottom: 1px solid #aaa;
        #logo{
            background: #aaa;
        }
    }
    #heading{
        color:#1f1f1f;
    }
    nav{
        i{
            color:#1f1f1f;
        }
    }
    #content{
        color:#1f1f1f;

    }
    a{
        color:#00A1E2;
        border-bottom: 1px solid #00A1E2;
    }
}
